.noAccountMessage {
    color: #c171a8;
    padding-top: 15%;
    padding-left: 18%;
}

.spinner {
    /* text-align: center;
    display: inline-block; */
    padding-top: 20%;
    padding-left: 45%;
}