<div class=loginFormContainer>
    <h3 class="mat-display-3">Login to FinC</h3>
    <h1 class="mat-display-1" *ngIf="loginErrorMessage" style="color: red;">Invalid username/password</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput name ="username" formControlName="username">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
</div>