<div class="accountsContainer">
    <div class="removeFormContainer">
        <mat-spinner *ngIf="!fetchedAllIns"></mat-spinner>
        <form *ngIf="fetchedAllIns" [formGroup]="toRemoveForm" (ngSubmit)="removeAccount()">
            <div *ngFor="let insSum of institutions" class="oneIns">
                <mat-checkbox name="{{ insSum.insName }}" formControlName="{{ insSum.index }}">{{ insSum.insName }}
                    ({{ insSum.accCount }} {{ insSum.accCount > 1 ? 'accounts' : 'account' }})</mat-checkbox>
                <br>
            </div>
            <br>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
    </div>
</div>